<div class="spot-cards">
  <% @spots.each do |spot| %>
    <div class="spot-card">
      <div>
        <h3> <%= spot.name %></h3>
        <p> machin machachin machin machin</p>
        <a href="" class="button">Plus d'information</a>
      </div>
      <img src="http://image.noelshack.com/fichiers/2022/48/3/1669826426-image-processing20200111-22153-1bi0cow.jpg">
    </div>
  <% end %>
</div>
