<div class="spot-cards">
  <%= link_to new_alert_path, data: { turbo_frame: "modal" }, class: "button-alert" do %>
      <i class="fa fa-bell"></i>
      <span>Alerte</span>
  <% end %>
  <% @spots.each do |spot| %>
    <%= link_to spot_path(spot, weather_ids: @weather_ids.join(" ")), class:"spot-card" do %>
      <div>
        <h3><%= spot.name %></h3>
      </div>
      <% if spot.photos.attached? %>
        <%= cl_image_tag spot.photos.first.key %>
        <% else %>
      <img src="http://image.noelshack.com/fichiers/2022/48/3/1669826426-image-processing20200111-22153-1bi0cow.jpg">
      <% end %>
    <% end %>
  <% end %>
</div>
