<div class="spot-cards">
  <% @spots.each do |spot| %>
    <%= link_to spot do %>
      <div class="spot-card">
        <div>
          <h3><%= spot.name %></h3>
          <p><%= spot.address %></p>
        </div>
        <%= cl_image_tag spot.photos.last.key %>
      </div>
    <% end %>
  <% end %>
</div>
