h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}
h1, h2, h3, p {
  margin: 0;
  font-family: $primary-font;
}

a {
  text-decoration: none;
  color: $color-primary;
  font-size: 16px;
  font-weight: 400;
}
