// Specific CSS for your home-page
body{
  background-color: #DFEEF1;
  color: #1C3E46;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-size: 24px;
}

// FA - Alerte button
.fa{
  background-color: transparent;
}

.button-alert{
  font-size: 15px;
  color: black;
  padding: 13px;
  border-radius: 20px;
  border: none;
  background-color: #E58819;
  text-decoration: none;
  float: right;
  margin-right: 20px;
}

// Button de la difficulté du spot
.choose-difficulty-spot{
  justify-content: space-between;
}

.first-two-div{
  display: flex;
  gap: 1rem;
  margin: 10px;
}

.two-last-div{
  display: flex;
  gap: 1rem;
  margin: 10px;
}
.difficulty-spot{
  text-align: center;
  width: 50%;
  padding: 12px 8px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  background-color: #F4F4F4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  background-color: #1C3E46;
  color: #F4F4F4;
}


//Quand veux-tu Kite Surfer
.when-kite-spot{
  text-align: center;
  width: 50%;
  padding: 12px 8px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  background-color: #F4F4F4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// Submit Button
.submit-button{
  float: right;

  margin-right: 65px;
  text-decoration: none;
  padding: 20px;
  border: none;
  background-color: #1C3E46;
  color: #DFEEF1;
  border-radius: 8px;
}
