<h1>Wind Call</h1>
<h2>Trouve ton prochain spot de Kite Surf !</h2>

<p>Découvre les plus beaux spots de Kite
Surf en fonction de tes critères  à travers
la France !</p>

<%= form_with url: spots_path, method: :get do |f| %>
  <div class="form_geolocation">
    <%= f.text_field :address, placeholder: "address" %>
    <%= f.text_field :perimeter, placeholder: "> 20km" %>
  </div>
  <%= f.button "search" %>
<% end %>


<button class=" button-alert">
  <i class="fa fa-bell"></i>
  M'alerter
</button>
<br>
<br>

<p>Selectionne la DIRECTION du vent !</p>

<div class="choose-wind-direction">
  <button class="wind-direction"></button>
  <button class="wind-direction"></button>
  <button class="wind-direction"></button>
  <button class="wind-direction"></button>
  <button class="wind-direction"></button>
</div>

<p>Selectionne la FORCE du vent !</p>

  <div class="field-wrap">
    <label>Length</label>
    <span class="range-value"></span>
    <div class="range-slider_wrapper">
      <span class="slider-bar" v-bind:style="{ width: lengthThumbPosition + '%' }"></span>
      <input type="range" class="range-slider" min="6" v-bind:max="settings.maxLength" v-model="settings.length">
    </div>
  </div>

<p>Combien de TEMPS AVANT tu veux être prévenu ?</p>

<div class="choose-wind-direction">
  <button class="wind-direction"></button>
  <button class="wind-direction"></button>
  <button class="wind-direction"></button>
  <button class="wind-direction"></button>
  <button class="wind-direction"></button>
</div>
