.spot-cards{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;

  .spot-card{
    background-color: whitesmoke;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    h3{
      width: 100px;
      padding: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    img{
      object-fit: cover;
      height: 150px;
      width: 100px;
      border-radius: 0px 5px 5px 0px;
    }
  }
}
