.navbar{
  background-color: #1C3E46;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 100;
}

.logo{
  height: 55px;
  width: 45px;
  margin-top: 8px;
  margin-left: 20px;
  padding-top: -20px;
}
