.show-card{
  height: 430px;
  object-fit: fill;
  justify-content: space-between;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-bottom: 32px;
}

.spot-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-white;
}

.spot-infos{
  display: flex;
  flex-direction: column;
  color: $text-white;
  letter-spacing: 1px;
  margin-right: 45px;
}

.spot-heart {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;

  #heart {
    position: absolute;
    left: -100vw;
  }

  [for=heart] {
    color: #F4F4F4;
    cursor: pointer;
    font-size: 24px;
    align-self: center;
    transition: color 0.2s ease-in-out;
  }

  [for=heart]::selection {
    color: none;
    background: transparent;
  }

  [for=heart]::moz-selection {
    color: none;
    background: transparent;
  }

  #heart:checked + label {
    color: #e2264d;
    background: none;
    will-change: font-size;
    animation: heart 0.3s ease;
  }
}



@keyframes heart {0%, 17.5% {font-size: 0;}}


// Soufflet descrpiton bas de page après tableau météo
#options{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.description{
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: none;
  text-align: center;
  background-color: whitesmoke;
  color: $color-primary;
  border: none;
  width: 342px;
  border-radius: 12px;
  padding: 12px 48px;
  margin: 24px 0;
  box-shadow: 0 0 20px #cfdff4;
  font-weight: bold;
}
