.show-card{
  height: 430px;
  object-fit: fill;
  justify-content: space-between;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.spot-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-white;
}

.spot-name{
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: $text-white;
}

.show-card-infos{
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: $color-primary;
  padding-top: 20px;
}

.show-card-weather{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spot-heart {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;

  #heart {
    position: absolute;
    left: -100vw;
  }

  [for=heart] {
    color: #F4F4F4;
    cursor: pointer;
    font-size: 24px;
    align-self: center;
    transition: color 0.2s ease-in-out;
  }

  [for=heart]::selection {
    color: none;
    background: transparent;
  }

  [for=heart]::moz-selection {
    color: none;
    background: transparent;
  }

  #heart:checked + label {
    color: #e2264d;
    background: none;
    will-change: font-size;
    animation: heart 0.3s ease;
  }
}



@keyframes heart {0%, 17.5% {font-size: 0;}}
