.contenair-show {
  margin: 24px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgb(251, 251, 251);
  border-radius: 12px;
  box-shadow: 0 0 20px #cfdff4;
  overflow: hidden;
  &.hidden {
    display: none;
  }
}

td{
  padding: 8px 0;
  overflow: hidden;
  vertical-align: baseline;
}

tr:last-child td {
  padding-bottom: 1rem;
}

tbody{
  box-shadow: 0 0 20px blue($color: #ffffff);
  margin-top: 32px;
}

th {
  padding: 1rem 0 0.5rem 0;
}
<<<<<<< HEAD

// .table-element{
//   background: linear-gradient(to right, rgba(74, 74, 77, 0.486), transparent, transparent 200% 100%);
  // &:nth-child(-n+5) {
  //   background: linear-gradient(to right, rgba(19, 8, 114, 0.418), transparent, transparent 30% 100%);
  // }
  // &:nth-child(n+6) {
  //   background: linear-gradient(to right, rgba(255, 94, 0, 0.377), transparent, transparent, transparent, transparent);
  // }
  // &:nth-child(n+10) {
  //   background: linear-gradient(to right, rgba(239, 243, 3, 0.329), transparent, transparent, transparent, transparent);
  // }
  // &:nth-child(n+14) {
  //   background: linear-gradient(to right, rgba(19, 8, 114, 0.418), transparent, transparent, transparent, transparent);
  // }
// }


// .colored {
//   background: linear-gradient(to right, rgba(5, 175, 90, 0.555), transparent, transparent 200% 100%) !important;
// }
=======

.colored {
  background-color: rgba(141, 244, 143, 0.537);
}
>>>>>>> adf885d (all fixed)
