table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

td{
  padding: 8px 0;
}

tbody{
  border-radius: 8px;
  box-shadow: 0 0 0 2px $color-primary;
}

.table-element{
  &:nth-child(-n+6) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.336), transparent, transparent);
  }
}



.colored {
  background-color: green;
  color: white;
}
