.contenair-show {
  margin: 24px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgb(251, 251, 251);
  border-radius: 12px;
  box-shadow: 0 0 20px #cfdff4;
  overflow: hidden;
  &.hidden {
    display: none;
  }
}

td{
  padding: 8px 0;
  overflow: hidden;
  vertical-align: baseline;
}

tr:last-child td {
  padding-bottom: 1rem;
}

tbody{
  box-shadow: 0 0 20px blue($color: #ffffff);
  margin-top: 32px;
}

th {
  padding: 1rem 0 0.5rem 0;
}

.colored {
  background-color: rgba(141, 244, 143, 0.537);
}
