// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/basics";

// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  padding: 24px;
  margin: 0;
}

main{
  min-height: calc(100vh - 100px);
  position: relative;
}

html{
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}
